body {
  font-family: "Segoe UI", "Roboto";
}
a {
  color: black;
  text-decoration: none;
}

p {
  font-family: "Roboto";
}

h6,
h5,
h4,
h3,
h2,
h1,
button {
  font-family: "Roboto";
  font-weight: 500;
}

.pos-relative {
  position: relative;
}

/*Fonts*/

.large-font {
  font-size: 22px;
}

.small-text {
  font-size: 14px;
}

.medium-text {
  font-size: 16px;
}

.black-light {
  color: #6b6f82;
}

.text-white {
  color: #fff;
}

.center {
  text-align: center;
}

.react-slideshow-fade-wrapper {
  margin: auto;
}

.grid-container {
  display: grid;
  align-items: center;
  grid-column-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}

.border-tb {
  border-bottom: 1px solid #9d9292;
  border-top: 1px solid #9d9292;
}

.btn-danger {
  font-family: "Roboto";
  border: none;
  box-shadow: none;
  width: 90px;
  height: 30px;
  background: #ff0000;
  color: wheat;
  cursor: pointer;
  border-radius: 3px;
}

.btn-danger span {
  color: #959599;
}

.hoverable {
  -webkit-transition: -webkit-box-shadow 0.25s;
  transition: -webkit-box-shadow 0.25s;
  transition: box-shadow 0.25s;
  transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.hoverable:hover {
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.wrap {
  max-width: 1300px;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.w-90 {
  width: 90%;
}

.w-80 {
  width: 80%;
}

.w-94 {
  width: 94%;
}

.w-40 {
  width: 40%;
}

.w-60 {
  width: 390px;
}

.w-100 {
  width: 100%;
}

.img-fluid {
  width: 100%;
  height: auto;
}

.img-thumb {
  width: 80px;
  height: 80px;
}

.badge {
  padding: 14px;
}

.icon-font {
  font-size: 35px;
  color: #ff7676;
}

.item img {
  width: 100%;
}
.slide-container {
  width: 100%;
  margin: auto;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  min-height: 300px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}
.react-slideshow-container .nav:first-of-type {
  margin-right: -3rem;
}
.react-slideshow-container .nav:last-of-type {
  margin-left: -3rem;
}

.border-bottom {
  border-bottom: 1px solid #a3a3a3;
}

.font-weight-light {
  font-weight: 300 !important;
}
.font-weight-normal {
  font-weight: 400 !important;
}
